body{

background-color: rgb(165, 23, 23);

}
header{

display: flex;

align-items: center;

justify-content: space-between;

background-color: rgb(115, 173, 219);

}
footer{

background-color: rgb(165, 23, 23);

}

.cabecalho_imagem{

    width: 250px;

    height: 250px;

    border-radius: 55%;

    padding: 30px;

}

.cabecalho_menu-lista{

    margin: 25px;

}

.cabecalho_menu-listaitem{

    display: inline;

    text-transform: uppercase;

    margin-left: 15px;

}