body{

background-color: rgb(151, 144, 135);

}
header{

display: flex;

align-items: center;

justify-content: space-between;

background-color: rgb(97, 95, 87);

}
footer{

background-color: rgb(91, 107, 102);

}

.cabecalho_imagem{

    width: 150px;

    height: 150px;

    border-radius: 20%;

    padding: 20px;

}

.cabecalho_menu-lista{

    margin: 25px;

}

.cabecalho_menu-listaitem{

    display: inline;

    text-transform: uppercase;

    margin-left: 15px;

}
.sobre{

    display: inline;

    justify-content: center;

    align-items: center;

}
.sobre_imagem{

    width: 300px;

    height: 300px;

    padding: 20px;

}
.sobre_texto{

    text-align: justify;

}