body{

background-color: rgb(165, 23, 23);

}
header{

display: flex;

align-items: center;

justify-content: space-between;

background-color: rgb(115, 173, 219);

}
footer{

background-color: rgb(23, 165, 122);

}

.cabecalho_imagem{

    width: 150px;

    height: 150px;

    border-radius: 20%;

    padding: 20px;

}

.cabecalho_menu-lista{

    margin: 25px;

}

.cabecalho_menu-listaitem{

    display: inline;

    text-transform: uppercase;

    margin-left: 15px;

}